@charset "UTF-8";

@media screen and (max-width:650px) {

    main {
        max-width: 550px;
    }

    header, header nav {
        flex-flow: column nowrap;
        align-items: stretch;
    }

    header h1 {
        align-self: center;
        flex: 0 0 50px;
    }





}