@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.peoples {
    width: 400px;
}

header, .normal  {
    padding: 20px;
}

p, h1, h2 { 
    margin-bottom: 10px;
    text-align: justify;
}
body {
    font: normal normal 1em/1.5em Arial, Helvetica, sans-serif;
}

.flex-content {
    background-color: rgb(195, 195, 195);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

article {
    border: 2px dashed green;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

.text-media {
    display: flex;
}

div.text {
    border: 1px solid red;
    flex: 1 1 500px;
}

div.media {
    border: 1px solid blue;
}